form{
    padding: 10px;
    margin: 20px;
    border: 5px solid pink;
}
input:invalid+span{
    display: block;
}
input:valid+span{
    display: none;
}
input:invalid{
    outline: none;
    border: 3px solid brown;
}
input:valid{
    border: 1px solid black;
}